<section class=" card">
    <div class="car-body p-4">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti numquam sequi perspiciatis ipsum
            perferendis aut voluptates ex consectetur dolorum maxime.</p>
    </div>
</section>