<div class="jumbotron mt-4">
    <h1 class="display-5 mb-3">
        Notes app Nodejs & Mongodb
    </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, fuga? Veritatis harum libero
        error nemo officiis voluptate dolore quos, fugit et dolores facilis ullam voluptatum culpa consequuntur enim
        aliquam laudantium.</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia quas cum voluptate.
        Recusandae excepturi quasi voluptas incidunt sint ex quod dolores natus nihil nemo, nulla, doloribus illum,
        nesciunt et.</p>
    <a href="https://github.com/God-Jr" class="btn btn-primary">God-Jr</a>
</div>